server:
  port: 8080
spring:
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/car_rent
    default-schema: public
    password: postgres
    username: postgres
  flyway:
    enabled: false
  thymeleaf:
    cache: false
logging:
  level:
    -
      org:
        spring: DEBUG

