html, body {
    height: 100%;
}

body {
    background: rgb(0,50,153);
    background: radial-gradient(circle, rgba(0,50,153,0.5979342420561975) 0%, rgba(0,29,153,0.6315476874343487) 50%, rgba(0,51,153,1) 100%);
    padding-top: 2rem;
}

.nav {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    overflow-y: auto;
}

.nav .nav-item {
    display: block;
    color: #039;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: .25rem;
    margin: .25rem 0;
}

.nav .nav-item:hover:not(.active) {
    text-decoration: underline;
}

.nav .nav-item.active {
    background-color: rgba(0, 79, 249, 0.66);
    color: #fdfdfd;
}

.dropdown {
    position: relative;
}

.dropdown::after {
    position: absolute;
    right: 1rem;
    top: auto;
    bottom: auto;
    content: '▼';
    color: #039;
    font-size: 1.25rem;
}

.dropdown.active::after {
    color: #fdfdfd;
}

.dropdown-container {
    height: 0;
    transition: height .4s linear;
    visibility: hidden;
}

.dropdown:hover + .dropdown-container,
.dropdown-container:hover {
    height: auto;
    visibility: visible;
}

input[type=text],
input[type=password],
input[type=date],
input[type=number],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    outline-color: transparent;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
    outline-color: #003399;
}

input[type=submit] {
    display: block;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


.btn {
    background-color: #039;
    color: white;
    padding: 10px 18px;
    border: 2px solid #039;
    border-radius: .25rem;
    cursor: pointer;
    margin-top: 1rem;
}

.btn.red {
    background-color: rgb(200, 0, 0);
    border: 2px solid rgb(200, 0, 0);
}

.btn.green {
    background-color: rgb(0, 150, 0);
    border: 2px solid rgb(0, 150, 0);
}

.btn:hover {
    background-color: transparent;
    color: #039;
    text-decoration: none;
}

.btn.red:hover {
    color: rgb(200, 0, 0);
}

.btn.green:hover {
    color: rgb(0, 150, 0);
}

.error-list {
}

.error-list .error {
}


.panel {
    width: 100%;
    background: #fdfdfd;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.3);
    border-radius: .25rem;
    padding: 1rem 1rem 2rem;
}

.page-content {
    min-height: calc(100% - 2rem);
    height: calc(100% - 2rem);
}

.page-content > * {
    height: 100%;
}


.list {
    padding: 1rem 2rem;
    display: block;
}

.list .list-header {
    display: block;
    padding-bottom: .5rem;
    border-bottom: 2px solid #000;
}

.list .list-header th {
    padding: 1rem;
}

.list .list-body {
    display: block;
}

.list tr {
    padding: 1rem .25rem;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.list tr:last-child {
    margin-bottom: 0;
}

.list .list-body td {
    padding: 1rem;
}
.list .list-header tr th:last-child,
.list .list-body tr td:last-child {
    margin-right: 0;
}

.list .list-body tr:nth-child(2n) {
    background-color: #afafaf28;
}