<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/base :: head(${title})">

</head>
<body>
<div class="container" style="height: 100%;">
    <div class="row justify-content-center" style="height: 100%;">
        <div th:replace="includes/nav :: nav(${entity_type})"></div>
        <div class="col-8">
            <div class="page-content">
                <div class="panel">
                    <div class="container-fluid">
                        <div class="row justify-content-end">
                            <div class="col-3">
                                <a th:href="@{/{entity_type}(entity_type=${entity_type})}" class="btn"><i class="fas fa-chevron-left"></i>&nbsp;Назад</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h2 th:text="${form_name}"></h2>
                                <form th:action="@{/{entity_type}/{action}(action=${action},entity_type=${entity_type})}" th:object="${form}" method="post">
                                    <ul class="error-list" th:if="${#fields.hasErrors('*')}">
                                        <li class="error" th:each="err : ${#fields.errors('*')}" th:text="${err}">Ошибка!</li>
                                    </ul>
                                    <label th:for="${#ids.next('number')}">Номер автомоблия:</label>
                                    <input type="text" th:field="*{number}">
                                    <label th:for="${#ids.next('run')}">Пробег автомоблия:</label>
                                    <input type="number" th:field="*{run}">
                                    <label th:for="${#ids.next('price')}">Стоимость автомоблия (р/сут):</label>
                                    <input type="number" th:field="*{price}">

                                    <label th:for="${#ids.next('brandId')}"></label>
                                    <select th:field="*{modelId}">
                                        <option th:each="model : ${modelSelect}" th:value="${model.getKey()}" th:text="${model.getValue()}"></option>
                                    </select>
                                    <label th:for="${#ids.next('colorId')}"></label>
                                    <select th:field="*{colorId}">
                                        <option th:each="color : ${colorSelect}" th:value="${color.getKey()}" th:text="${color.getValue()}"></option>
                                    </select>
                                    <label th:for="${#ids.next('statusId')}"></label>
                                    <select th:field="*{statusId}">
                                        <option th:each="status : ${statusSelect}" th:value="${status.getKey()}" th:text="${status.getValue()}"></option>
                                    </select>
                                    <label th:for="${#ids.next('active')}">Активно:</label>
                                    <input type="checkbox" th:field="*{active}">
                                    <input type="submit" value="Создать" class="btn">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>