<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/base :: head(${title})">

</head>
<body>
<div class="container" style="height: 100%;">
    <div class="row justify-content-center" style="height: 100%;">
        <div th:replace="includes/nav :: nav('home')"></div>
        <div class="col-8">
            <div class="page-content">
                <div class="panel">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque id unde aliquam nostrum impedit, culpa rem accusantium ab laboriosam repellendus architecto vel cupiditate, consequatur dignissimos voluptatibus. Atque, quibusdam reprehenderit? Alias?
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>